/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/*ここから書く*/
p {
  font-size: 30px;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.top-wrapper {
  height: 426px;
  width: 1280px;
  background-image: url("banner-5190090_1280.webp");
}

.top-text {
  padding-top: 80px;
  padding-left:400px;
  opacity: 0.7;
}

.top-text h1 {
  font-size:50px;
  letter-spacing: 2px;
}

.top-text p {
  padding-top:20px;
  font-size: 20px;
}

.profile {
  padding-top:30px;
}

.profile li {
  padding-left: 50px;
}

.text {
  font-size:18px;
}

.heading {
  font-style: italic;
}

/*区切り*/
.message-wrapper {
  background: linear-gradient(white, rgb(237, 250, 212));
  padding:30px 0;
}

.web-img {
  width: 100%;
  height: 300px;
  padding: 20px 0 ;
}

.question {
  text-align: center;
  padding:30px 0;
}

.question button {
  padding:15px 50px;
  border: none;
  background-color: rgba(42, 67, 201,0.8);
  color:#fff;
  font-size:18px;
  border-radius: 5px;
  box-shadow: 0 7px rgba(2, 27, 161, 0.8);
  outline: 0;
}

.question button:hover{
  background-color: rgba(62, 87, 221, 0.8);
}

.question button:active{
  border: none;
  position: relative;
  top:7px;
  box-shadow: none;
  outline: 0;
}

/*区切り*/
.message-wrapper-2 {
  padding: 30px 0;
  background: linear-gradient(rgb(237, 250, 212),white);
}

.message-wrapper-2 li{
  padding-left: 30px;
  padding-top:5px;
}

.message-wrapper-2 ul{
  padding-bottom: 5px;
}

.life {
  width:100%;
  height: 600px;
  padding: 20px 0;
}


/*区切り*/
footer {
  border-top: 2px solid rgb(212, 212, 212);
  padding:30px 0;
}

footer p {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
}
