/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  color: rgb(80, 80, 80);
}
a {
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
/*ここから書く*/
/***header～***/
header{
  width: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  height: 50px;
  z-index: 10;
}
.header-left{
  float: left;
}
.header-title{
  color: white;
  line-height: 50px;
  padding-left: 10px;
}
.header-menu{
  float: right;
  height: 50px;
  padding-top: 7px;
  padding-right: 20px;
}
.btn-secondary{
  background-color: rgb(0,110,100);
  border: none;
}
/***～header***/
/***topwrapper～***/
.top-wrapper{
  background: linear-gradient(90deg,rgba(0, 0, 0, 1),rgba(255, 255, 255, 0.2)),url("architecture-768432_1920.jpg");
  background-size:cover;
  background-position: center;
  height: 300px;
  width: auto;
  margin-top: 50px;
}
.t-w-c{
  padding-top: 120px;
}
.t-w-c h1{
  color: rgba(255, 255, 255, 0.6);
  font-size: 36px;
  font-weight: bold;
}
.t-w-c p{
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: bold;
}
.fa-laptop{
  padding-left: 7px;
}
/***～topwrapper***/
/***contents-1～***/
.contents-1{
  padding-top: 30px;
  padding-bottom: 30px;
}
.contents-title_box{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.c-1_h2{
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
.triangle-box{
  margin-top: 20px;
  margin-bottom: 20px;
}
.triangle_l{
  width: 50px;
  height: 50px;
  border-top: 5px solid rgb(20, 110, 60);
  border-left: 5px solid rgb(80, 170, 120);
}
.triangle_r{
  width: 50px;
  height: 50px;
  border-bottom: 5px solid rgb(20, 110, 60);
  border-right: 5px solid rgb(80, 170, 120);
}
.text-box{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
}
.p-text{
  font-size: 18px;
  letter-spacing: 1px;
}
/***～contents-1***/
/***contents-2～***/
.contents-2{
  background:linear-gradient(180deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("OfficeWork_2.jpg");
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contents-2 h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
  line-height: 50px;
}
.triangle_l_2{
  width: 50px;
  height: 50px;
  border-top: 5px solid rgb(160, 250, 200);
  border-left: 5px solid rgb(40, 110, 50);
}
.triangle_r_2{
  width: 50px;
  height: 50px;
  border-bottom: 5px solid rgb(160, 250, 200);
  border-right: 5px solid rgb(40, 110, 50);
}
.circle-boxs{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin: 10px auto;
}
.circle-in-text{
  text-align: center;
  line-height: 100px;
  color: rgb(40,110,50);
  font-size: 16px;
  font-weight: bold;
}
/***～contents-2***/
/***contents-3～***/
.contents-3{
  background-color: rgb(0, 110, 100);
  padding-top: 30px;
  padding-bottom: 30px;
}
.contents-3 h3{
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 25px;
}
.triangle_l_3{
  width: 50px;
  height: 50px;
  border-top: 5px solid rgb(160, 250, 200);
  border-left: 5px solid rgb(100, 170, 110);
}
.triangle_r_3{
  width: 50px;
  height: 50px;
  border-bottom: 5px solid rgb(160, 250, 200);
  border-right: 5px solid rgb(100, 170, 110);
}
.p-text-w{
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
/***～contents-3***/
/***下三角形～***/
.triangle-container{
  position: relative;
  text-align: center;
}
.triangle_bottom{
  position: absolute;
  height: 0;
  width: 0;
  border: 50px solid transparent;
  border-top-color: rgb(0,110,100);
  top: 0;
  left: 50%;
  margin-left: -50px;
  display: block;
}
/***～下三角形***/
/***contents-4～***/
.contents-4{
  background: linear-gradient(180deg,rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7)),url("cog-wheels-2125169_1920.jpg");
  background-size:cover;
  height: 560px;
  width: auto;
  padding-top: 50px;
}
.contents-4 h2{
  color: black;
  font-weight: bold;
}
.contents-4 p{
  color: black;
  font-weight: bold;
}
.text-red{
  color: red;
}
/***～contents-4***/
/***contents-5～***/
.contents-5{
  padding-bottom: 20px;
}
.contents-5 h3{
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.contents-5-img{
  margin-bottom: 50px;
}
.ul-box{
  padding: 20px;
  font-size: 14px;
}
.text-underline{
  text-decoration: underline;
  font-weight: bold;
}
.robot{
  padding: 20px;
  border:1px solid rgb(60, 60, 60);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgb(0,110,100);
}
.robot:hover{
  background-color: rgb(40, 20, 220);
  transition: all 6s;
}
.robot p{
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.fa-robot{
  padding-left: 7px;
}
.img-padding{
  padding-top: 20px;
}
/***～contents-5***/
/***section-border～***/
.section-border{
  margin: 0 auto;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid rgb(200,200,200);
}
/***～section-border***/
/***contents-6～***/
.QA-text{
  font-size: 24px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/***～contents-6***/
/***contents-7～***/
.contents-7{
  padding-left: 5px;
  padding-right: 5px;
}
.btn-link{
  color: rgb(0, 110, 100);
  font-size: 16px;
}
.btn-link:hover{
  color: rgb(90, 200, 190);
  transition:all 1s;
}
.card-title{
  font-size: 1.2rem;
}
/***～contents-7***/
/***contents-8～***/
.contents-8{
  background: linear-gradient(180deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.6)),url("blonde-1867768_1920.jpg");
  background-size:cover;
  background-position: left;
  height: 560px;
  width: auto;
  text-align: center;
  padding-top: 30px;
}
.c-8-b{
  text-align: left;
}
/***～contents-8***/
/***contents-9～***/
.contents-9{
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  position: relative;
}
.about-title{
  position: absolute;
  top:-18px;
  left: 20px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
.about-title p{
  font-size: 22px;
}
.about-box{
  margin: 0 auto;
  width: 90%;
}
.about-p{
  font-size: 1rem;
}
/***～contents-9***/
/***form～***/
form{
  padding-bottom: 30px;
}
.form-title{
  font-size: 24px;
  font-weight: bold;
}
.form-group{
  padding-top: 10px;
}
.form-group label{
  font-size: 18px;
}
.fa-thumbs-up{
  padding-left: 0.5rem;
}
.btn-primary{
  padding: 5px 80px;
  font-size: 22px;
  font-weight: bold;
}
.form-button-box{
  text-align: center;
}
/***～form***/
/***footer～***/
footer {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgba(200,200,200,0.8);
  margin-top: 50px;
}
.footer-box {
  border-bottom: 1px solid rgba(200,200,200,0.8);
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-list{
  padding-left: 10px;
}
.footer-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8rem;
}
.footer-list a{
  color: rgb(70,70,70);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.8rem;
}
.most-bottom{
  padding-bottom: 10px;
}
footer a{
  color: rgb(0,0,0);
  font-size: 13px;
}
footer p{
  color: rgb(0,0,0);
  font-size: 13px;
}
.top-right{
  display: flex;
  padding-top: 10px;
}
.left-a{
  font-weight: bold;
}
.right-a{
  margin-left: 20px;
  font-weight: bold;
}
.a-box{
  display:flex;
}
.bottom-left{
  padding-top: 10px;
}
.fa-globe{
  padding-right: 5px;
}
.fa-yen-sign{
  padding-right: 5px;
}
/***～footer***/


/*md(768px)以上用レスポンシブデザイン*/
@media (min-width:768px){
  .top-wrapper{
    height: 400px;
  }
  .t-w-c{
    padding-top: 200px;
  }
  .t-w-c h1{
    font-size: 55px;
  }
  .t-w-c p{
    font-size: 20px;
  }
  .c-1_h2{
    font-size: 28px;
    line-height: 50px;
  }
  .p-text{
    font-size: 20px;
    letter-spacing: 1px;
  }
  .contents-2 h3{
    font-size: 28px;
    line-height: 50px;
  }
  .circle-boxs{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin: 20px auto;
  }
  .circle-in-text{
    text-align: center;
    line-height: 150px;
    color: rgb(40,110,50);
    font-size: 22px;
    font-weight: bold;
  }
  .contents-3 h3{
    font-size: 28px;
    line-height: 50px;
  }
  .p-text-w{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .contents-4{
    height: 450px;
  }
  .contents-5 h3{
    font-size: 28px;
    line-height: 50px;
  }
  .ul-box{
    padding: 30px;
    font-size: 18px;
  }
  .section-border{
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .QA-text{
    font-size: 40px;
  }
  .btn-link{
    font-size: 20px;
  }
  .robot p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .form-title{
    font-size: 40px;
  }
  .name-box{
    width: 500px;
  }
  .mail-box{
    width: 500px;
  }

}
/*lg(992px)以上用レスポンシブデザイン*/
@media (min-width:992px){
  .top-wrapper{
    height: 600px;
  }
  .t-w-c{
    padding-top: 300px;
  }
  .t-w-c h1{
    font-size: 70px;
  }
  .t-w-c p{
    font-size: 22px;
  }
  .contents-1{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .c-1_h2{
    font-size: 36px;
    line-height: 50px;
  }
  .triangle_l{
    width: 100px;
    height: 100px;
    border-top: 20px solid rgb(20, 110, 60);
    border-left: 20px solid rgb(80, 170, 120);
  }
  .triangle_r{
    width: 100px;
    height: 100px;
    border-bottom: 20px solid rgb(20, 110, 60);
    border-right: 20px solid rgb(80, 170, 120);
  }
  .c-1_h2{
    font-size: 50px;
    line-height: 100px;
  }
  .p-text{
    font-size: 22px;
    letter-spacing: 2px;
  }
  .contents-2{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .triangle_l_2{
    width: 100px;
    height: 100px;
    border-top: 20px solid rgb(160, 250, 200);
    border-left: 20px solid rgb(40, 110, 50);
  }
  .triangle_r_2{
    width: 100px;
    height: 100px;
    border-bottom: 20px solid rgb(160, 250, 200);
    border-right: 20px solid rgb(40, 110, 50);
  }
  .contents-2 h3{
    font-size: 50px;
    line-height: 100px;
  }
  .circle-boxs{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin: 30px auto;
  }
  .circle-in-text{
    text-align: center;
    line-height: 200px;
    color: rgb(40,110,50);
    font-size: 26px;
    font-weight: bold;
  }
  .triangle_l_3{
    width: 100px;
    height: 100px;
    border-top: 20px solid rgb(160, 250, 200);
    border-left: 20px solid rgb(100, 170, 110);
  }
  .triangle_r_3{
    width: 100px;
    height: 100px;
    border-bottom: 20px solid rgb(160, 250, 200);
    border-right: 20px solid rgb(100, 170, 110);
  }
  .triangle_bottom{
    position: absolute;
    height: 0;
    width: 0;
    border: 100px solid transparent;
    border-top-color: rgb(0,110,100);
    top: 0;
    left: 50%;
    margin-left: -100px;
    display: block;
  }
  .contents-3 h3{
    font-size: 40px;
    line-height: 100px;
  }
  .p-text-w{
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .contents-4{
    height: 580px;
    padding-top: 100px;
  }
  .contents-5 h3{
    font-size: 40px;
    line-height: 100px;
  }
  .ul-box{
    padding: 40px;
    font-size: 20px;
  }
  .section-border{
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .QA-text{
    font-size: 50px;
  }
  .btn-link{
    font-size: 22px;
  }
  .robot p{
    color: white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .form-title{
    font-size: 50px;
  }
  .card-title{
    font-size: 1.4rem;
  }
  .img-padding{
    padding-top: 40px;
  }
  .contents-8{
    height: 660px;
  }

}
